@{
    ViewBag.Title = "CityLove";
}
<h1>
    Реальные знакомства<br>
    в вашем городе
</h1>
<p>
    City Love - это проект создания нового города, который объединит<br>
    молодых высококвалифицированных специалистов со всей территории<br>
    страны, усилив тем самым инновационный потенциал Российской Федерации
</p>